<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamebox"
        tools:targetApi="31">
        <activity
            android:name=".ui.snakegame.SG_SplashScreen"
            android:exported="false" />
        <activity
            android:name=".ui.snakegame.SG_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.snakegame.SG_ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.snakegame.SG_GameActivity"
            android:exported="false" /> <!-- Balloon game activities -->
        <activity
            android:name=".ui.balloonburst.BG_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.balloonburst.BG_SplashScreen"
            android:exported="false" />
        <activity
            android:name=".ui.balloonburst.BG_ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.balloonburst.BG_GameActivity"
            android:exported="false" /> <!-- flappy bird activity added -->
        <activity
            android:name=".ui.flappybird.FB_ResultActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.flappybird.FB_GameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.flappybird.FB_MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.flappybird.FB_SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape" /> <!-- main splash screen -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>